.wrapper {
    width: 50vw;
    height: fit-content;
    position: relative;
    margin-top: 200px;
}

.mainLogo {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
}

.background {
    background: linear-gradient(120deg, #7076d5, #0d45a5, #501e86, #1d0339);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.userImage {
    display: block;
    width: 50%;
    outline: 3px solid white;
    box-shadow: #fff 2px 2px 5px;
}
